# ====================================
# CONFIGURACIÓN DE BASE DE DATOS
# ====================================

DB_HOST=localhost
DB_NAME=monitoring_system
DB_USER=monitoring
DB_PASS=agus_agus123
DB_CHARSET=utf8mb4

# ====================================
# SEGURIDAD API
# ====================================

API_KEY=9ad019bdd0a48db0fa102d391d73040d5361d05b4edc216f571e64f4bd8ef377
